body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid rgb(201, 201, 201);
    display: block;
}

button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

a {
    color: rgb(201, 201, 201);
    font-size: 20px;
}