body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, serif;
}

input {
    background-color: rgb(201, 201, 201);
    border: 2px solid rgb(141, 141, 141);
    font-size: 20px
    margin-top: 15px;
}

canvas {
    border: 2px solid rgb(201, 201, 201);
    display: block;
    margin-top: 20px
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 0px;
    background-color: rgb(201, 201, 201);
    color: #0000000;
}

button:hover {
    color: rgb(141, 141, 141);
}

a {
    margin-top: 20px;
    color: #0000000;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(201, 201, 201);
    color: #000000;
}

a:hover {
    background-color: rgb(141, 141, 141);
}