body {
    background-color: #6A994E;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Lato", sans-serif;
    user-select: none;
}

.top {
    padding: 70px 70px;
    height: 35%;
    background-color: #F2E8CF;
    color: #6A994E;
    font-size: 50px;
    font-weight: bold;
}

.top h1 {
    font-size: 50px;
}

.top p {
    font-size: 25px;
}

button {
    margin-left: 70px;
    margin-top: 70px;
    color: #F2E8CF;
    font-size: 25px;
    text-decoration: none;
    padding: 25px;
    border: #F2E8CF 4px solid;
    background-color: #6A994E;
}

.testarea button {
    margin-left: -30px;
}

button:hover {
    background-color: #386641;
}

.testarea {
    margin-top: 120px;
    background-color: white;
    color: black;
    padding: 100px;
    font-size: 30px;
}

input[type="radio"] {
    appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    width: 26px;
    height: 26px;
    transform: scale(0.75) translateY(4px);
    transition: 120ms transform ease-in-out;
}

input[type="radio"]:checked {
    background: #6A994E;
    transform: scale(1);
}